*.pyc
*.vscode
/db.sqlite3
.DS_Store
*.env
*.pem
# */settings/local.py
/staticfiles/*
/mediafiles/*
__pycache__/

# coverage result
.coverage
/coverage/

# pycharm
.idea

# data
*.dump

# npm
node_modules/
npm-debug.log

#Folders
.DS_Store

# Webpack
/assets/bundles/*
/assets/webpack_bundles/*
/webpack-stats.json
/jquery-webpack-stats.json

# Sass
.sass-cache
*.map

# General
/venv/
/env/
/output/
/cache/

# Spritesmith
spritesmith-generated/
spritesmith.scss

# templated email
tmp_email/

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/extensions.json

# Linux
.directory

# Postgres DB
postgres-data/*
!postgres-data/.gitkeep

# PgAdmin
pgadmin/*
!pgadmin/.gitkeep

# SSL Certs
certs/

#Android
helpo-mobile/android/