version: '3'

services:
  db:
    image: postgres:10.4-alpine
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: db-helpo
    ports:
      - "5432:5432"
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
  api:
    build: helpo-api/.
    env_file:
      - helpo-api/.env
    ports:
      - "8000:8000"
    volumes:
      - ./helpo-api:/code
    depends_on:
      - db
  web:
    build: helpo-web/.
    env_file:
      - helpo-web/.env
    ports:
    - "3000:3000"
    volumes:
      - ./helpo-web/src:/usr/src/app/src
    depends_on:
      - db
      - api
      - messenger
  pgadmin:
    image: thajeztah/pgadmin4
    volumes:
      - ./pgadmin:/pgadmin/
    ports:
      - "5050:5050"
    depends_on:
      - db
  messenger:
    build: helpo-messenger/.
    volumes:
      - ./helpo-messenger/:/opt/app
    ports:
      - "4000:4000"
    depends_on:
      - db
    

# Default docker-compose, made for development