.cardImage {
    background-image: url("../../assets/img/home-noauth-background-converted.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    width: 96vw;
}

.modalComoFunciona {
    max-width: 60vmax;
}

.modalContent {
    max-width: 100%;
    max-height: 100%;
}