.cardImage {
    background-image: url("../../assets/img/home-background-converted.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    width: 87vw;
}