.cardImage {
    background-image: url("../../assets/img/home-background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 35em;
    width: 73em;
}